<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name="Sanity" />
        </run>
    </groups>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="adPost.java">
        <classes>
            <class name="hpcases.adPost"/>
            <class name="hpcases.Logins"/>
            <class name="homepage.homepage"/>
            <!-- Add other classes where you want to include sanity tests -->
        </classes>
    </test>
</suite>